<div id="{{ id }}" class="expand_box">
<h3 id="{{ id }}_title" class="expand">
<a style="display:block" href="#" title="Expand/Collapse">
{{ collapsed|safe }}
</a></h3>
{% if shown %}
<div id="{{ id }}_content"> {{ expanded|safe }} </div>
{% else %}
<div id="{{ id }}_content" style="display: none"> {{ expanded|safe }} </div>
{% endif %}

</div>

<script type="text/javascript">
$(document).ready(function() { 
  $("#{{ id }}_title").click(function() {
    $("#{{ id }}_content").toggle(0, function(){$(window).resize();});
    if ($("#{{ id }}_content").is(':hidden')) {
      set_value("{{ widget_id }}", "shown", "hidden");
    } else {
      set_value("{{ widget_id }}", "shown", "shown");
    }
  });
});
</script>